*
{
  margin: 0;
  padding: 0;
}

body
{
  background: url('../images/bg-intro-desktop.png'),hsl(0, 100%, 74%);
  background-size: cover ;
  background-position: center;
}


.intro
{
  flex-basis: 50%;
  align-self: center;
  text-align: start;
  display: grid;
  gap: 2.125rem;
}

.intro h1,p 
{
  color: white;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 1100px;
  margin-left: 200px;
}

.form-container
{
  display: grid;
  gap: 1.5rem;
}


.caption
{
    text-decoration: none;
    color: #fff;
    padding: 1.125rem 4.1875rem;
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 0.625rem;
    font-size: .9375rem;
    font-weight: var(--fw-regular);
    line-height: 1.625rem;
}

.input-group > input
{
    font-weight: var(--fw-medium);
    font-size: .875rem;
    color: #3D3B48;
    letter-spacing: .25px;
    padding-inline: 19.4px 0;
    padding-block: 15px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    width: 95%;
  }

form
{
    background-color: #fff;
    display: grid;
    gap: 1rem;
    padding: 2.5rem;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
}


button.Submit
{
    border: none;
    background-color: hsl(154, 59%, 51%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--fw-semibold);
    font-size: .9375rem;
    color: #fff;
    padding: 15px 45px;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    transition: all 200ms ease;
}

.Normal
{
  color: black;
  margin-left: 20px;
}

.Red
{
  color: red;
}

.Normal,.Red
{
  font-size: 0.6875rem;
}

.error {
    font-size: .6875rem;
    font-style: italic;
    font-weight: var(--fw-medium);
    text-align: end;
    margin-top: 0.1rem;
    margin-right: 0.25rem;
    color: red;
}
